h1= title
h2 Welcome to #{title}
p Please sign in with Facebook Connect.
form(action='/main', method='POST')
	label ID
	input(type='text', name='username', value='')
	input(type='image', src='../images/connect.PNG', name='image')#fbconnect

br
br

div
	strong update notes
	ul 
		li rest(recover health per minute)
			ul
				li setInterval interupted
				li refresh hero info while reconnecting
		li prevent abusing
			ul
				li levelup bonus
				li levelup unit in server-side
		li monster with haste
		li (when it needs)farm
