h1= title
h2 Welcome to #{title}
p Please sign in with Facebook Connect.
form(action='/character', method='POST')
	label ID
	input(type='text', name='owner', value='rghwang')
	input(type='image', src='../images/connect.PNG', name='image')#fbconnect
	
