!!!
html
	head
		// 모바일에서 잘 보이게 메타태그 연구해서 넣기
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='../javascripts/jquery-1.7.2.min.js')
		script(src='../javascripts/client.js')
	body!= body

